<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h3>ToDo</h3>

<form method="post" action='/'>
    {% csrf_token %}
    {{form.title}}
    <input type = 'submit' name = 'Create Task'>
</form>

{% for task in tasks %}
    <div>
        {% if task.complete == True %}
        <p><strike>{{task}}</strike></p>
        {% else %}
        <p>{{task}}</p>
        {% endif %}
        <a href="{% url 'update_task' task.id %}">update</a>
        <a href="{% url 'delete_task' task.id %}">delete</a>
    </div>
{% endfor %}